@import "./reset.scss";

$dark-gray-blue: hsl(217, 19%, 35%);
$dark-blue: hsl(214, 17%, 51%);
$gray-blue: hsl(212, 23%, 69%);
$light-gray-blue: hsl(210, 46%, 95%);

html {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-gray-blue;
}

.preview {
  align-self: center;
  width: 90%;
  margin-top: 70px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 50px 2px $gray-blue;
  &-picture {
    height: 40%;
    width: 100%;
    img {
      object-fit: cover;
      object-position: 0 -15px;
      width: 100%;
      border-radius: 10px 10px 0px 0px;
      height: 207px;
    }
  }
  &-body {
    padding: 20px 40px;
    h1 {
      font-size: 1.2rem;
      font-weight: 700;
      color: $dark-gray-blue;
    }
  }
  &-footer {
    padding: 0px 40px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    &-avatar {
      height: 60%;
      object-fit: contain;
      border-radius: 50%;
    }
    &-description {
      margin: 0 15px 0 -15px;
      &-name {
        font-weight: 700;
      }
      &-date {
        color: $gray-blue;
        padding-top: 3px;
      }
    }
    &-button {
      background-color: $light-gray-blue;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        object-fit: contain;
      }
    }
    &-share-menu {
      display: none;
    }
  }
}
