body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

html {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf2f8;
}

.preview {
  align-self: center;
  max-width: 335px;
  width: 90%;
  margin-top: 70px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 50px 2px #9eafc2;
}
.preview-picture {
  height: 40%;
  width: 100%;
}
.preview-picture img {
  object-fit: cover;
  object-position: 0 -15px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 207px;
}
.preview-body {
  padding: 20px 41px;
}
.preview-body h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #48556a;
}
.preview-body p {
  color: #9eafc2;
}
.preview-footer {
  height: 80px;
}
.preview-footer-inactive {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 40px 5px;
}
.preview-footer-inactive-avatar {
  height: 60%;
  object-fit: contain;
  border-radius: 50%;
}
.preview-footer-inactive-description {
  margin: 0 15px 0 -15px;
}
.preview-footer-inactive-description-name {
  font-weight: 700;
  color: #48556a;
}
.preview-footer-inactive-description-date {
  color: #9eafc2;
  padding-top: 3px;
}
.preview-footer-inactive-button {
  background-color: #ecf2f8;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview-footer-inactive-button img {
  object-fit: contain;
}
.preview-footer-inactive-button-tooltip {
  display: none;
}
.preview-footer-active {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #48556a;
  border-radius: 0 0 10px 10px;
}
.preview-footer-active-menu {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 40px;
  align-items: center;
}
.preview-footer-active-menu-logo {
  text-transform: uppercase;
  color: #9eafc2;
  letter-spacing: 5px;
}
.preview-footer-active-menu-social-network {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
}
.preview-footer-active-menu-social-network li {
  cursor: pointer;
  margin: 0 10px;
}
.preview-footer-active-menu-share {
  background-color: #6d7f97;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview-footer-active-menu-share img {
  filter: brightness(255%);
  cursor: pointer;
}

@media (min-width: 800px) {
  body {
    height: 100vh;
  }

  .preview {
    max-width: 720px;
    height: 270px;
    margin-top: 0;
    display: flex;
  }
  .preview-left {
    height: 100%;
  }
  .preview-left .preview-picture {
    height: 270px;
    border-radius: 10px 0px 0px 10px;
  }
  .preview-left .preview-picture img {
    border-radius: inherit;
    object-fit: cover;
    object-position: 0px 0px;
    height: 100%;
  }
  .preview-body {
    height: 60%;
    padding: 25px 40px 0px 40px;
  }
  .preview-body h1 {
    font-size: 1.5rem;
  }
  .preview-footer {
    height: 25%;
  }
  .preview-footer-inactive-description {
    margin-left: -125px;
  }
  .preview-footer-inactive-button {
    cursor: pointer;
  }
  .preview-footer-inactive-button-tooltip {
    display: none;
    position: absolute;
    background-color: #48556a;
    width: 200px;
    margin-bottom: 120px;
    padding: 15px 30px;
    border-radius: 10px;
  }
  .preview-footer-inactive-button-tooltip-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
  }
  .preview-footer-inactive-button-tooltip-menu-logo {
    text-transform: uppercase;
    color: #9eafc2;
    letter-spacing: 5px;
    font-size: 1.1rem;
    margin-left: 12px;
    margin-bottom: 3px;
  }
  .preview-footer-inactive-button-tooltip-menu-social-network {
    display: inherit;
  }
  .preview-footer-inactive-button-tooltip-menu-social-network li {
    margin: 0 7px;
  }
  .preview-footer-inactive-button-tooltip::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 12px;
    border-color: #48556a transparent transparent transparent;
    top: 60px;
    left: 117px;
  }
  .preview-footer-active {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
